<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Student Registration Form</h1>
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="Enter Username" />
      <input type="email" name="email" placeholder="enter email" />
      <input type="date" name="dob" />
      <input type="text" name="gender" placeholder="Enter gender" />
      <input type="text" name="address" placeholder="Enter address" />
      <input type="text" name="school" placeholder="Enter School name" />
      <input type="text" name="city" placeholder="Enter city" />
      <input type="text" name="state" placeholder="Enter state" />
      <input type="number" name="pincode" placeholder="Enter zipcode" />
      <input type="text" name="Course" placeholder="Enter course-name" />
      <button>Regiter Student</button>
    </form>
  </body>
</html>
